
<div class="show-item">
<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'user_info', user: current_user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>

     <table class="table">
      <tbody>

       <tr>
        <td style="width: 5%"><%= link_to user_path(@books.id) do %><%= image_tag @books.user.get_profile_image(100,100) %>
        <%= @books.user.name %><% end %></td>
        <td style="width: 25%"><%= link_to book_path(@books.id) do %><%= @books.title %><% end %></td>
        <td><%= @books.body %></td>
        <% if @books.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@books.id), :class => "btn btn-sm btn-success" %></td>
        <td><%= link_to "Destroy", book_path(@books), method: :delete, :class => "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
        <% end %>
       </tr>

      </tbody>
     </table>

    </div>
  </div>
</div>
</div>